.loginPageContainer{
    margin: 0px 15px;
    padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}
.image{
    width: 400px;
    height: 500px;
    border-radius: 15px 0px 0px 15px;
    background-image: url("../assets/images/LoginImage.jpeg");
    background-size: cover;
}
.LoginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 0px 15px 15px 0px;
    height: 500px;
    background-color:rgb(237, 219, 194);
}

#set-credentials-button{
    padding: 2px;
  outline: 0;
  font-size: 17px;
  color: rgb(0, 0, 0);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fdde5c),
    color-stop(#f8ab5e),
    color-stop(#f56a62),
    color-stop(#a176c8),
    color-stop(#759beb),
    color-stop(#65beb3),
    to(#70db96)
  );
  background: linear-gradient(
    to right,
    #fdde5c,
    #f8ab5e,
    #f56a62,
    #a176c8,
    #759beb,
    #65beb3,
    #70db96
  );
  border-radius: 30px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

#set-credentials-button>span{
    display: block;
    padding: 10px 40px;
    font-size: 17px;
    font-weight: 500;
    background: #ebebeb;
    border-radius: 30px;
}

@media screen and (max-width: 600px) {
    .image{
        width: 300px;
        height: 400px;
    }
    .LoginForm{
        height: 400px;
        font-size: 13px;
    }
    .LoginForm input{
       height: 25px;
    }
    #inputGroupPrepend{
        height:25px
    }
   .LoginForm  button{
        width: 80px;
        
    }
}